* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    opacity: 0;
    animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    color: #ffffff;
    background-color: #071144;
    cursor: pointer;
    transition: border-color 0.25s;
}

h1 {
    margin: 0;
}

header {
    height: 10%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoImg {
    max-width: 150px;
    max-height: 150px;
}

.mainContainer {
    display: flex;
    justify-content: center;
}

.ctaBlock {
    width: 50%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text > h1, p {
    text-align: right;
}

.ctaBtn {
    width: 15rem;
    margin-top: 5rem;
    background-color: #078894;
}

.ctaBtn:hover {
    box-shadow: 2px 3px 4px 2px #747474;
}

.mediaBlock {
    width: 50%;
}

.mainImg {
    width: 90%;
    height: 30rem;
    background-color: #071144;
}

@media (max-width: 720px) {
    .logoImg {
        max-width: 100px;
        max-height: 100px;
    }

    .mainContainer {
        flex-direction: column;
        align-items: center;
    }

    .ctaBlock {
        align-items: center;
    }

    .text > h1, p {
        text-align: center;
    }

    .ctaBtn {
        margin-top: 1rem;
    }

    .mediaBlock {
        width: 90vw;
        margin-top: 3rem;
    }

    .mainImg {
        width: 100%;
    }
}